.projects-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .project {
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
    /* Additional styles for the project div */
  }
  
  @media (max-width: 768px) {
    .project {
      width: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .project {
      width: 100%;
    }
  }
  